.container-fluid {
  width: 100%;
}
.left-content {
  margin-top: 10em;
}
.btn {
  margin-top: 3em;
  width: 350px;
  left: 108px;
  top: 825px;
  background: #4361ee;
  border-radius: 8px;
  border-color: transparent;
 
}
.btn:hover {
  background: #4361ee;
  color: #fff;
  /* opacity: 12; */
}
.img-fluid {
  width: 80%;
  height: 80%;
  margin-top: 7em;
}
.left-content {
  margin-top: 8em;
  text-align: center;
  width: 80%;
  /* margin-left: 8em; */
}


.descr{
  margin-top: 10em !important;
  
}